html {
  scroll-behavior: smooth;
}

/* btn shine  */
/* From Uiverse.io by neerajbaniwal */
.btn-shine {
  /* position: absolute; */
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* padding: 12px 26px;
  padding-right: 22px; */
  color: #0b5663;
  background: linear-gradient(to right, #72c6cf 0, #acd1d5 10%, #0b5663 20%);
  background-position: 0;
  background-clip: text;
  background-size: 200% auto;
  -webkit-text-fill-color: transparent;
  animation: shine 4s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  /* font-weight: 600;
  font-size: 16px; */
  text-decoration: none;
  white-space: nowrap;
  /* font-family: "Poppins", sans-serif; */
}
@-moz-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
@-webkit-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
@-o-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}

/* portfolio  */
.portfolioBg {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(80, 134, 143, 1) 36%,
    rgba(58, 119, 129, 1) 45%,
    rgba(39, 106, 117, 1) 54%,
    rgba(28, 98, 110, 1) 62%,
    rgba(21, 93, 105, 1) 67%,
    rgba(11, 86, 99, 1) 100%
  );
}
.portfolioHeadingBg {
  background: radial-gradient(
    circle,
    rgba(23, 102, 114, 1) 0%,
    rgba(54, 122, 133, 1) 19%,
    rgba(70, 132, 143, 1) 32%,
    rgba(83, 141, 151, 1) 47%,
    rgba(116, 163, 171, 1) 68%,
    rgba(153, 187, 193, 1) 100%,
    rgba(255, 255, 255, 1) 100%
  );
}
/* portfolio  */
