html {
  scroll-behavior: smooth;
}

/* btn shine  */
/* From Uiverse.io by neerajbaniwal */
.btn-shine {
  /* position: absolute; */
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* padding: 12px 26px;
  padding-right: 22px; */
  color: #0b5663;
  background: linear-gradient(to right, #72C6CF 0, #acd1d5 10%, #0b5663 20%);
  background-position: 0;
  background-clip: text;
  background-size: 200% auto;
  -webkit-text-fill-color: transparent;
  animation: shine 4s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  /* font-weight: 600;
  font-size: 16px; */
  text-decoration: none;
  white-space: nowrap;
  /* font-family: "Poppins", sans-serif; */
}
@-moz-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
@-webkit-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
@-o-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
