html {
  scroll-behavior: smooth;
}

/* btn shine  */
.btn-shine {
  color: #0b5663;
  background: linear-gradient(to right, #72c6cf 0, #acd1d5 10%, #0b5663 20%);
  background-position: 0;
  background-clip: text;
  background-size: 200% auto;
  -webkit-text-fill-color: transparent;
  animation: shine 4s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  text-decoration: none;
  white-space: nowrap;
}
@-moz-keyframes shine {
  0% {
    background-position: 30%;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
@-webkit-keyframes shine {
  0% {
    background-position: 30%;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
@-o-keyframes shine {
  0% {
    background-position: 30%;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
@keyframes shine {
  0% {
    background-position: 30%;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
/* btn shine  */

/* btn shine2  */
.btn-shineT {
  color: #0b5663;
  background: linear-gradient(to right, #72c6cf 0, #acd1d5 10%, #0b5663 20%);
  background-position: -150% 0;
  background-clip: text;
  background-size: 300% 100%;
  -webkit-text-fill-color: transparent;
  animation: shineMenu 4s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  text-decoration: none;
  white-space: nowrap;
}
@-moz-keyframes shineMenu {
  0% {
    background-position: 30%;
  }
  60% {
    background-position: 80px;
  }
  100% {
    background-position: 80px;
  }
}
@-webkit-keyframes shineMenu {
  0% {
    background-position: 30%;
  }
  60% {
    background-position: 80px;
  }
  100% {
    background-position: 80px;
  }
}
@-o-keyframes shineMenu {
  0% {
    background-position: 30%;
  }
  60% {
    background-position: 80px;
  }
  100% {
    background-position: 80px;
  }
}
@keyframes shineMenu {
  0% {
    background-position: 30%;
  }
  60% {
    background-position: 80px;
  }
  100% {
    background-position: 80px;
  }
}
/* btn-shine 2 */
/* .btn-shineT:hover{
  -webkit-text-fill-color: white;
  background: none;
  transition: all;
  transition-duration: .3s;
} */

/* service */
.serviceBg {
  background: linear-gradient(
    180deg,
    rgba(11, 86, 99, 1) 0%,
    rgba(21, 93, 105, 1) 36%,
    rgba(28, 98, 110, 1) 45%,
    rgba(39, 106, 117, 1) 54%,
    rgba(58, 119, 129, 1) 62%,
    rgba(80, 134, 143, 1) 67%,
    rgba(255, 255, 255, 1) 100%
  );
}

.serviceHeadingBg {
  background: radial-gradient(
    circle,
    rgba(59, 147, 157, 1) 0%,
    rgba(56, 143, 153, 1) 9%,
    rgba(11, 86, 99, 1) 100%
  );
}
/* service */

/* portfolio  */
.portfolioBg {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(80, 134, 143, 1) 36%,
    rgba(58, 119, 129, 1) 45%,
    rgba(39, 106, 117, 1) 54%,
    rgba(28, 98, 110, 1) 62%,
    rgba(21, 93, 105, 1) 67%,
    rgba(11, 86, 99, 1) 100%
  );
}
.portfolioHeadingBg {
  background: radial-gradient(
    circle,
    rgba(23, 102, 114, 1) 0%,
    rgba(54, 122, 133, 1) 19%,
    /* rgba(70, 132, 143, 1) 32%, */
    /* rgb(191, 194, 194) 47%, */
    rgba(116, 163, 171, 1) 68%,
    rgba(153, 187, 193, 1) 100%,
    rgba(255, 255, 255, 1) 100%
  );
}
/* portfolio  */
